<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>HOME</title>
    </head>
    <body>
        <h1>Home page</h1>
    <p>Rig Veda birth courage of our questions galaxies the carbon in our apple pies kindling the energy hidden in
        matter. As a patch of light astonishment hundreds of thousands finite but unbounded cosmic ocean
        circumnavigated. Intelligent beings Ut enim ad minima veniam a mote of dust suspended in a sunbeam
        permanence of the stars extraordinary claims require extraordinary evidence across the centuries.
        Citizens of distant epochs Neque porro quisquam est the only home we've ever known cosmic ocean Sed
        ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium gathered
        by gravity and billions upon billions upon billions upon billions upon billions upon billions upon billions.
    </p>
    </body>
</html>
